    {% extends "layout.njk" %}

     {% block style %}
    <link rel="stylesheet" href="/css/not-found.css">
    {% endblock style %}

    {% block title%}
        <title>Foodfy - Página Não Encontrada</title>
    {% endblock %}

    
    {% block main %}
        <h2>Página não encontrada</h2>
    {% endblock%}