{% extends "layout.njk" %}

    {% block title%}
        <title>Foodfy - {{receita.title}}</title>
    {% endblock %}

    {% block style %}
    <link rel="stylesheet" href="/css/recipeIndex.css">
    {% endblock style %}

    {% block main %}
        <main>
            <div class="recipe-img" id="">
                <img src="{{recipe.image}}" alt="Imagem {{recipe.title}}">
            </div>

            <div class="recipe-title">
                <h1>{{recipe.title}}</h1>
                <h3>por {{recipe.author}}</h3>
            </div>

            <div class="recipe-content">
                <div class="content-title"> 
                    <h2>Ingredientes</h2> <span class="button">MOSTRAR<span>
                </div>
                <div class="content hide">
                    <ul>
                        {% for ingredients in recipe.ingredients %}
                            <li>{{ingredients}}</li>
                        {% endfor %} 
                    </ul>
                </div>
                <div class="content-title"> 
                    <h2>Modo de preparo</h2> <span class="button">MOSTRAR<span>
                </div>

                <div class="content hide">
                    <ul>
                        {% for preparation in recipe.preparation %}
                            <li>{{preparation}}</li>
                        {% endfor %}               
                    </ul>
                </div>
                
                <div class="content-title"> 
                    <h2>Informações adicionais</h2> <span class="button">MOSTRAR<span>
                </div>
                <div class="content hide"> 
                    <p>{{recipe.information}}</p>
                </div>
            </div>
        </main>
        <script src="/scripts/script.js"></script>
    {% endblock %}